* {
    scroll-behavior: smooth;
}
#navbar {
    background-color: grey;
    width: 100%;
    border-radius: 10px;
    padding: 0;
}
#navbar a {
    color: white;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    word-spacing: 4px;
    padding: 5px 10px;

    text-decoration: none;
    display: block;
    text-align: center;
}
#navbar .leftmost_in_navbar {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
#navbar .leftmost_in_navbar a {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
#navbar a:hover {
    background-color: lightgrey;
}

#navbar ul {
    list-style-type: none;
    overflow: hidden;
    margin-left: -40px;
}
#navbar li {
    float: left;
}

body {
    background-color: #414141;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 16px;
    color: white;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
#parameterInput, #distrSelect {
    padding: 0 5px 10px;
}
#parameterInput:hover, #distrSelect:hover {
    background-color: #2a2a2a;
}
.title {
    color: lightgrey;
    font-size: 24px;
}
#parameter-input-wrapper input {

}
.calculateButton {
    
}